
<div class="containercrearusuario">
  <mat-toolbar style="background-color: #d9d9d9;">
    <span>{{ operacion }} PERSONA</span>
  </mat-toolbar>

  <mat-card appearance="outlined" style="margin-top: 10px;">
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="agregarPersona()">
        <mat-grid-list [cols]="getGridColumns()" rowHeight="70px" [gutterSize]="'10px'">
          <mat-grid-tile [colspan]="getColspanId()" [rowspan]="1">
            <mat-form-field class="ancho">
              <mat-label>ID</mat-label>
              <input matInput autocomplete="off" formControlName="idPersona" [readonly]="true" />
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="getColspanUsuario()" [rowspan]="1">
            <mat-form-field class="ancho">
              <mat-label>Email</mat-label>
              <input matInput autocomplete="off" formControlName="email" />
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="getColspanNombre()" [rowspan]="1">
            <mat-form-field class="ancho">
              <mat-label>Nombre</mat-label>
              <input matInput autocomplete="off" formControlName="nombre" />
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="getColspanApellido()" [rowspan]="1">
            <mat-form-field class="ancho">
              <mat-label>Apellido</mat-label>
              <input matInput autocomplete="off" formControlName="apellido" />
            </mat-form-field>
          </mat-grid-tile>

        <!-- Fecha de Nacimiento -->
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field class="ancho">
            <mat-label>Fecha de Nacimiento</mat-label>
            <input matInput type="date" formControlName="fechaNacimiento" />
          </mat-form-field>
        </mat-grid-tile>


          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="ancho">
              <mat-label>Teléfono</mat-label>
              <input matInput autocomplete="off" formControlName="telefono" />
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="ancho">
              <mat-label>Contraseña</mat-label>
              <input matInput type="password" formControlName="password" />
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="getColspanTipo()" [rowspan]="1">
            <mat-form-field class="ancho">
              <mat-label>Tipo de Persona</mat-label>
              <mat-select formControlName="tipo">
                <mat-option *ngFor="let tipo of tiposPersona" [value]="tipo">
                  {{ tipo }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="getColspanImagen()" [rowspan]="4">
            <img src="./assets/img/persona.png" class="responsive-img" />
          </mat-grid-tile>

          <mat-grid-tile [colspan]="getColspanBotones()" [rowspan]="1">
            <button mat-raised-button style="margin-right: 20px" routerLink="/dashboard/usuarios">
              Volver
            </button>
            <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid" style="border-radius: 8px;">
              Aceptar
            </button>
          </mat-grid-tile>
        </mat-grid-list>
      </form>
    </mat-card-content>
  </mat-card>
</div>